<div class="input-group">
    <input type="text" class="datepicker form-control" readonly {{bind-attr placeholder=defaultText value=theValue}} />
    <span class="input-group-btn">
    <button class="btn btn-default" type="button" {{action "showCalendar"}}>
    <span class="glyphicon glyphicon-calendar"></span>
    </button>
    </span>
</div>