# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/vendor/*
!/vendor/bs-switch
!/vendor/ember-animated-outlet
!/vendor/ember-validations

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
bower_components
.editorconfig
.travis.yml
crossdomain.xml
robots.txt
