<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-1">
                    <h3 class="panel-title form-control-static">Users</h3>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                <div class="btn btn-info" {{action 'sortDirection'}}>
                                    {{#if sortAscending}}
                                    <i class="fa fa-chevron-down" title="Sort Ascending"></i>
                                    {{else}}
                                    <i class="fa fa-chevron-up"  title="Sort Descending"></i>
                                    {{/if}}
                                </div>
                                </span>
                                <select name="" id="input" class="form-control" required="required">
                                    <option value="0">Username</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="search" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn btn-success btn-block" title="Add User" {{action 'addUser'}}>
                        Add User
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body users-panel">
            {{#each}}
            {{render "userCard" this}}
            {{/each}}
        </div>
    </div>
</div>