<div class="row">
	<div class="center-block">
		<h1>I AM A DASHBOARD</h1>
	</div>
</div>
<div class="row">
	
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			{{!--{{#link-to "users" class="btn btn-default"}}Users{{/link-to}}--}}
		</div>
		<div class="btn-group">
			{{!--{{#link-to "companies" class="btn btn-default"}}Companies{{/link-to}}--}}
		</div>
		<div class="btn-group">
			{{!--{{#link-to "surveys" class="btn btn-default"}}Surveys{{/link-to}}--}}
		</div>
	</div>
	
</div>