<div class="jumbotron">
    <div class="container">
        <h1>Awgle</h1>
        <p>Rate the World</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>